/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body { 
    font-family: 'Roboto';
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #d6dad7;
}

.top_container {
    height: 15vh;
    background-color: #009587;
}

.app-container {
    margin: 0 auto;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 79%;
    height: 95%;
}

/*COLONNA SINISTRA*/
/*sezione user*/
.left-column {
    width: 35%;
    background-color: white;
}

.user-section {
    background-color: #eaeaea;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
}

.user-section .avatar img {
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-section .icons i {
    color: #b1b1b1;
    padding-right: 10px;
}

.text{
    font-size: 12px;
}

/*sezione notifiche*/
.left-column .notifications-section{
    background-color: #8edafb;
    padding: 11px 15px 11px 15px;
    display: flex;
    align-items: center;
}

.notifications-section .icon {
    background-color: #fff;
    color: #8edafb;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.text-notifications {
    font-size: 10px;
}

/*sezione cerca*/
.search-section {
    padding: 5px;
    background-color: #fafafa;
}

.search-background{
    border: 1px solid #f5f5f5;
    background-color: #fff;
    padding: 3px 20px;
}

.search-section i {
    color: #b6b9bc;
    padding-right: 20px;
    font-size: 12px;
}

.search-section input{
    border: 0;
    font-size: 10px;
    width: 150px;
    vertical-align: 2px;
}

.contacts-section {
    overflow-y: auto;
    height: calc(100% - 146px);
}

.contacts-section .avatar img {
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.contacts-section .avatar {
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #f5f5f5;
}

.contacts-section .avatar:hover { 
    background-color: #e9ebea;
}


/*COLONNA DESTRA*/
.right-column {
    width: 65%;
    border-left: 1px solid #d8d8d8;
}

.right-column .access {
    font-size: 10px;
    color: #717a7c;
}

.chat-section{
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.chat-contact .text {
    background-color: white;
    border-radius: 7px;
    width: 35%;
    min-height: 38px;
    padding: 10px;
}

.chat-contact {
    padding: 30px 0px 0px 70px;
}

.chat-user {
    padding: 15px 0px 15px 70px;
}

.chat-user .text {
    background-color: #d5f9ba;
    margin-left: 50%;
    border-radius: 7px;
    width: 35%;
    min-height: 38px;
    padding: 10px;
}

.message-section {
    background-color: #f3eeea;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
}

.message-section .icons i {
    color: #717a7c;
    padding: 0px 10px 0px 10px;
}

.message-section input{
    border: 0;
    font-size: 10px;
    width: 83%;
    vertical-align: 2px;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}